# Firecrawl API Key
# Get your API key from: https://www.firecrawl.dev/
# not required if FIRECRAWL_API_URL is self-hosted
FIRECRAWL_API_KEY=fc-YOUR_API_KEY_HERE

# For self-hosting firecrawl via "docker compose"
# see: https://github.com/firecrawl/firecrawl/blob/main/SELF_HOST.md
# FIRECRAWL_API_URL=http://localhost:8001

# AI Provider: 'groq' or 'ollama' and providers to be supported in the future
AI_PROVIDER=groq

# Groq API Key
# Get your API key from: https://console.groq.com/keys
GROQ_API_KEY=gsk_YOUR_GROQ_API_KEY_HERE
GROQ_MODEL=moonshotai/kimi-k2-instruct

# ===== Example for ollama LLM where API is served from http://localhost:11434/api =====
# AI_PROVIDER=ollama
# OLLAMA_HOST=http://localhost:11434
# OLLAMA_MODEL=qwen3:14b
